@model Ktreze.Web.Models.CompraModel

@section head{
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Armazenamento de produtos";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (Model != null && Model.ListagemProdutosCompra != null)
    {
        if (Model.ListagemProdutosCompra.Count > 0)
        {
            <div class="tabela">
                <table class="table table-hover" id="conteudo">
                    <thead>
                        <tr>
                            <th>Código do Produto</th>
                            <th>Nome</th>
                            <th>Preço de Compra</th>
                            <th>Quantidade</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model.ListagemProdutosCompra)
                    {
                            <tr>
                                <td> @t.Produto.Codigo</td>
                                <td> @t.Produto.Nome </td>
                                <td> @t.Produto.PrecoCompra </td>
                                <td>@t.Quantidade</td>

                                <td>
                                    @Html.ActionLink("Selecionar", "SelecionaArmazenamentoCompra",
                                new { id = t.Produto.Id },
                                new { @class = "btn btn-success btn-xs" })
                                </td>

                            </tr>
                        }
                    </tbody>
                    @*<tfoot>
                            <tr>
                                <td colspan="7"> Registros: @Model.ListagemProdutosCompra.Count </td>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
            <p class="erro">
                @ViewBag.Mensagem
            </p>
        }
        else
        {
            <h4 class="success">Armazenamento finalizado com sucesso.</h4>
        }
    }

    @*</div>*@
</div>

<div>
    @Html.ActionLink("voltar", "ConsultaCompra", "Compra", new { @class = "btn btn-default" })
</div>

@section scripts{
    <script src="~/Scripts/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#conteudo').dataTable({
                "order": [[0, "desc"]],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ Resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

        });
    </script>
}