@model Ktreze.Web.Models.CompraModel

@{
    ViewBag.Title = "ConsultaCompra";
}

<h2>ConsultaCompra</h2>

<div>
    @if (Model != null && Model.ListagemProdutosCompra != null)
    {
    if (Model.ListagemProdutosCompra.Count > 0)
    {
        <div class="tabela">
            <table class="table table-hover" id="conteudo">
                <thead>
                    <tr>
                        <th>Código do Produto</th>
                        <th>Nome</th>
                        <th>Preço de Compra</th>
                        <th>Quantidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Model.ListagemProdutosCompra)
                    {
                        <tr>
                            <td> @t.Produto.Codigo</td>
                            <td> @t.Produto.Nome </td>
                            <td> @t.Produto.PrecoCompra </td>
                            <td>@t.Quantidade</td>

                            <td>
                                @Html.ActionLink("Selecionar", "SelecionaArmazenamentoCompra",
                                new { id = t.Produto.Id },
                                new { @class = "btn btn-success btn-xs" })
                            </td>

                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"> Registros: @Model.ListagemProdutosCompra.Count </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <p class="erro">
            @ViewBag.Mensagem
        </p>
        }
        else
        {
        <h4>Compra finalizada com sucesso.</h4>
        }
    }

    @*</div>*@
</div>

<div>
    @Html.ActionLink("voltar", "ConsultaCompra")
</div>