@model Ktreze.Web.Models.CompraModel

@{
    ViewBag.Title = "ConsultaCompra";
}

<h2>ConsultaCompra</h2>

<div class="row">
    <div class="col-md-3">
        @if (Model != null && Model.ListagemProdutos != null)
        {
            @*<div>
                @Html.ActionLink("Gerar Relatorio", "GeraRelatorio2", "", new { @class = "btn btn-success" })
                @Html.ActionLink("Gerar Gráfico", "GerarGrafico", "", new { @class = "btn btn-success" })
            </div>*@

        if (Model.ListagemProdutos.Count > 0)
        {
            <div class="tabela">
                <table class="table table-hover" id="conteudo">
                    <thead>
                        <tr>
                            <th>Código do Produto</th>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model.ListagemProdutos)
                        {
                            <tr>
                                <td> @t.Codigo</td>
                                <td> @t.Nome </td>

                                <td>
                                    @Html.ActionLink("Selecionar", "SelecionarProduto",
                                new { id = t.Id },
                                new { @class = "btn btn-success btn-xs" })
                                </td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7"> Quantidade: @Model.ListagemProdutos.Count </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        else
        {
            <h4>Nenhuma tarefa encontrada.</h4>
            }
        }
    </div>
    <div class="col-md-9">
        @if (Model != null && Model.ListagemProdutosCompra != null)
        {
            @*<div>
                @Html.ActionLink("Gerar Relatorio", "GeraRelatorio2", "", new { @class = "btn btn-success" })
                @Html.ActionLink("Gerar Gráfico", "GerarGrafico", "", new { @class = "btn btn-success" })
            </div>*@

            if (Model.ListagemProdutosCompra.Count > 0)
            {
                <div class="tabela">
                    <table class="table table-hover" id="conteudo">
                        <thead>
                            <tr>
                                <th>Código do Produto</th>
                                <th>Nome</th>
                                <th>Preço de Compra</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var t in Model.ListagemProdutosCompra)
                            {
                                <tr>
                                    <td> @t.Codigo</td>
                                    <td> @t.Nome </td>
                                    <td> @t.PrecoCompra </td>

                                    <td>
                                        @Html.ActionLink("Excluir", "Deletar",
                                new { id = t.Id },
                                new { @class = "btn btn-danger btn-sm" })
                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7"> Quantidade: @Model.ListagemProdutosCompra.Count </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <h4>Nenhuma tarefa encontrada.</h4>
            }
        }

    </div>
</div>