@model IEnumerable<Ktreze.Web.Models.EstoqueModel>

@{
    ViewBag.Title = "ConsultaEstoque";
}

<h2>ConsultaEstoque</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freezer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescFreezer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Freezer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescFreezer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
