@model IEnumerable<Ktreze.Web.Models.FreezerModel>

@{
    ViewBag.Title = "ConsultaFreezer";
}

<h2>ConsultaFreezer</h2>

<p>
    @Html.ActionLink("Novo Freezer", "CadastroFreezer", "", new { @class = "btn btn-success btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numeracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numeracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "ViewEdita", new { id=item.Id }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Deletar", "DeletarFreezer", new { id=item.Id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
