@model Ktreze.Web.Models.CadastroArmazenamentoVendaModel

@{
    ViewBag.Title = "Seleção de freezer para a retirada de produtos";
}

<h2>@ViewBag.Title</h2>
<h3>Nome do produto: <strong>@ViewBag.NomeProd</strong></h3>
<h3>Quantidade para retirar: <strong>@ViewBag.QuantProd</strong></h3>
<br />
@foreach (var e in Model.listaFreezerDisp)
{
    if (e.Quantidade > 0)
    {
        <h3><strong>@e.Quantidade</strong> disponíveis no freezer @e.Freezer.Numeracao</h3>
    }
}
@using (Html.BeginForm("ArmazenaVenda", "Venda", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdFreezer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdFreezer, Model.ListaFreezer, "- Escolha uma Opção -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdFreezer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Armazenar" class="btn btn-success" />
            </div>
        </div>
    </div>
    <p>
        @ViewBag.Mensagem
    </p>
}

<div>
    @Html.ActionLink("voltar", "ArmazenamentoVenda", "Venda", new { @class = "btn btn-default" })
</div>
